{{ define "main" }}
    <sidebar class="hidden md:flex flex-col text-lg w-52 shrink-0">
        <a class="link" href="/20-Games/">Summary</a>
        <a class="link" href="/20-Games/tools.html">Engines and Tools</a>
        <a>The Games</a>
        <div class="pl-10 flex flex-col">
            <a class="link" href="/20-Games/games/Pong.html">Pong</a>
            <a class="link" href="/20-Games/games/Breakout.html">Breakout</a>
        </div>
        <a class="link mt-36" href="/">< Back to Portfolio</a>
    </sidebar>
    <article class="text-lg bg-space-blue-150 p-10 rounded w-full">
        {{.Content}}
    </article>
{{end}}