@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

// Globals
$back-color: #00354B;
$back-color-em: #001C28;

* {
    font-family: 'Space Grotesk', sans-serif;
    margin: 0px;
    color: white;
    h1 { font-size: 4pc; margin-bottom: 20px; }
    h2 { font-size: 3pc; margin-bottom: 15px; }
    h3 { font-size: 2pc; margin-bottom: 15px; }
    p  { font-size: 1.2pc; margin-bottom: 10px; }
}
body {
    background-color: $back-color;
    &[data-scroll-earth=false] nav.fixed {
        @keyframes nav-slide-in {
            from { top: -70px; }
            to { top: 0; }
        }
        animation: nav-slide-in 0.5s ease-in 0s 1 forwards;
    }
    &[data-scroll-earth=true] nav.fixed {
        @keyframes nav-slide-out {
            from { top: 0; }
            to { top: -70px; }
        }
        animation: nav-slide-out 0.5s ease-out 0s 1 forwards;
    }
    nav {
        padding: 10px 0;
        margin-bottom: 10vh;
        > .links {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: auto;
            max-width: 800px;
            a {
                display: inline-block;
                position: relative; // Positions ::after relative to <a> element
                color: black;
                text-decoration: none;
                font-size: 2pc;
                &:hover {
                    &::after {
                        transform: scaleX(1);
                        transition: transform 0.3s ease-in;
                    }
                }
                &::after{
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    transform: scaleX(0);
                    border-bottom: 3px solid;
                    transition: transform 0.3s ease-out;
                }
            }
        }
        &.fixed {
            position: fixed;
            top: -70px;
            width: 100%;
            z-index: 1;
            background-color: $back-color-em;
            a { color: white; }
        }
    }
    article {
        text-align: center;
        margin: auto;
        > div { 
            > * {
                max-width: 800px;
                margin-left: auto;
                margin-right: auto;
            }
            margin-bottom: 10vh;
        }
        .earth {
            @keyframes earth-bob {
                from {top: -15vh}
                to {top: -12vh}
            }
            position: absolute;
            left: 0;
            width: 100vw;
            z-index: -100;
            animation: earth-bob 5s ease-in-out 0s infinite alternate;
        }
        .sun {
            $size: 25vw;
            $min-size: 360px;
            background-image: url('./art/SVG/sun.svg');
            width: calc($size * 0.962);
            height: $size;
            min-width: calc($min-size * 0.962);
            min-height: $min-size;
            margin: auto;
            > div {
                border-radius: 50%;
                overflow: hidden;
                width: 50%;
                height: 48%;
                position: relative;
                top: 25%;
                left: 25.5%;
                > img { width: 100%; }
            }
        }
        .works {
            background-color: $back-color-em;
            max-width: 100vw;
            display: grid;
            grid-template-columns: 40px 1fr 40px;
            gap: 40px;
            .nav {
                display: grid;
                align-items: center;
                width: 100%;
                height: 100%;
                z-index: 2;
                background-color: $back-color-em;
                &:hover{
                    cursor: pointer;
                    background-color: darken($back-color-em, 2%);
                }
            }
            .entries {
                display: grid;
                position: relative;
                .entry {
                    display: grid;
                    position: absolute;
                    width: 100%;
                    margin: auto;
                    padding: 50px 0;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: 5pc 1fr;
                    justify-items: center;
                    align-items: center;
                    .title { margin: auto; }
                    .desc {
                        margin: auto;
                        width: 70%;
                    }
                    img { 
                        grid-row: 1 / 3;
                        grid-column: 2;
                        margin: auto;
                        width: 100%;
                    }
                    &:nth-child(2n) {
                        img { grid-column: 1; }
                    }
                    &.left { transition: transform 0.8s ease-out; transform: translateX(-120%); }
                    &.show { transition: transform 0.8s ease-out; transform: translateX(0); }
                    &.right { transition: transform 0.8s ease-out; transform: translateX(120%); }
                }
            }
        }
        #contact {
            form {
                margin-top: 10vh;
                display: flex;
                flex-direction: column;
                input, textarea {
                    margin-bottom: 20px;
                    padding-left: 1pc;
                    border-radius: 10px;
                    border: 3px solid $back-color-em;
                    height: 2pc;
                    color: black;
                    &[name=message] { height: 8pc; }
                    &[type=submit] {
                        width: 30%;
                        align-self: flex-end;
                        background-color: $back-color-em;
                        color: white;
                        border: none;
                        &:hover {
                            background-color: lighten($back-color-em, 3);
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        .lunar {
            @keyframes lunar-bob {
                from {bottom: -5vh;}
                to {bottom: -10vh;}
            }
            position: relative;
            z-index: -100;
            animation: lunar-bob 7s ease-in-out 0s infinite alternate;
        }
    }
}