<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="/20-Games/style/main.css" rel="stylesheet">
        <link rel="icon" href="/20-Games/art/img/favicon.png">
        <title>Page Title goes here</title>
    </head>
    <body class="bg-space-blue-100 text-white">
        <header class="sticky bg-space-blue-200 px-5 xl:px-32 py-5 flex gap-x-3 shadow-xl">
            <img class="w-auto h-full" src="/20-Games/art/img/Logo.png" />
            <h1 class="text-2xl sm:text-4xl">20 Games Challenge</h1>
        </header>
        <main class="flex flex-row mx-5 xl:m-auto py-10 max-w-screen-xl">
            <sidebar class="hidden md:flex flex-col text-lg w-52 shrink-0">
                <a class="link" href="/20-Games/">Summary</a>
                <a class="link" href="/20-Games/tools.html">Engines and Tools</a>
                <a>The Games</a>
                <div class="pl-10 flex flex-col">
                    <a class="link" href="/20-Games/games/Pong.html">Pong</a>
                    <a class="link" href="/20-Games/games/Breakout.html">Breakout</a>
                </div>
            </sidebar>
            <article class="text-lg bg-space-blue-150 p-10 rounded w-full">
                <h1>Content Goes Here</h1>
            </article>
        </main>
        <footer class="px-5 xl:px-32 py-10 bg-space-blue-150 shadow-[0_-1px_10px_1px_rgba(0,0,0,0.5)]">
            <span>Written by Pui Chan using TailwindCSS</span>
        </footer>
    </body>
</html>